<p id="notice"><%= notice %></p>

<div class="container" style="width: 80%;">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <% if person.user == current_user %>
          <tr>
            <td><%= link_to person.name, person %></td>
            <td><%= person.ph_no %></td>
            <td><%= link_to 'Show', person %></td>
            <td><%= link_to 'Edit', edit_person_path(person) %></td>
            <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <tr>
            <% person.address.each do |address| %>
              <%= render 'addresses/table_address', address: address %>
            <% end %>
          </tr>
        <% end %> 
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Person', new_person_path, class: 'btn btn-primary' %>
</div>


<br>
