<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Ph no:</strong>
  <%= @person.ph_no %>
</p>

<% @person.address.each do |address| %>
  <%= render 'addresses/addresses', address: address %>
<% end %>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<%= render 'addresses/form', address: @address, address: Address.new, person: @person %>